{% extends "/Store/lkindex.html" %}
{% block body %}

<form action="" method="get">


<table width="455" border="1">
  <tr>
    <td width="187">Item name</td>
    <td width="252"><select name="select" id="select">
    </select></td>
  </tr>
  <tr>
    <td>Price per kilogram</td>
    <td><input type="text" name="textfield" id="textfield"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Submit"></td>
  </tr>
</table>



</form>


{% endblock %}
