{% extends "/user/lkindex.html" %}
{% block body %}


<h4>My Profile</h4>
<br>
<table class="table">
  <tr>
    <td width="176">Name</td>
    <td >{{ data[1] }}&nbsp;</td>
  </tr>
  <tr>
    <td>House name</td>
    <td>{{ data[2] }}</td>
  </tr>

  <tr>
    <td>Street</td>
    <td>{{ data[3] }}&nbsp;</td>
  </tr>
  <tr>
    <td>District</td>
    <td>{{ data[4] }}&nbsp;</td>
  </tr>
  <tr>
    <td>Pin</td>
    <td>{{ data[5] }}&nbsp;</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{ data[6] }}&nbsp;</td>
  </tr>

<tr>
    <td>Email</td>
    <td>{{ data[7] }}&nbsp;</td>
  </tr>

  </table>

</form>

{% endblock %}